h1 {
	text-align: center;
}

.contenedor {
	background-color: white;
	border: 3px solid black;
	height: 200px;
	display: flex;
	justify-content: space-between;
}

.item {
	color: white;
	width: 200px;
	height: 200px;
	text-align: center;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;

}

#rojo {
	background-color: red;
}

#azul {
	background-color: blue;
}

#verde {
	background-color: green;
}